
.icon-right-open:before { content: '\e800'; } /* '' */
.icon-left-open:before { content: '\e801'; } /* '' */
.icon-flow-split:before { content: '\e802'; } /* '' */
.icon-edit:before { content: '\e803'; } /* '' */
.icon-group:before { content: '\e804'; } /* '' */
.icon-megaphone:before { content: '\e805'; } /* '' */
.icon-pitch:before { content: '\e82a'; } /* '' */
.icon-sitemap:before { content: '\f0e8'; } /* '' */
.icon-stethoscope:before { content: '\f0f1'; } /* '' */
.icon-child:before { content: '\f1ae'; } /* '' */